<div *ngIf="(snippets)?.length==0">No records found.</div>

<virtual-scroll #scroll
    [parentScroll]="window"
    [items]="snippets | getbranches"
    [childHeight]=300
    (update)="scrollItems = $event"
    (change)="scrollSnippets($event)">
    <div *ngFor="let snippet of scrollItems" class="panel panel-default">
        <div class="panel-heading">
            <div class="title">{{snippet.title}}</div>
            <div class="stats">
                <div><img src="assets/comment.png">{{snippet.n_comments}}</div>
                <div><img src="assets/previews.png">{{snippet.watches}}</div>
                <div><img src="assets/likes.png">{{snippet.likes}}</div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row" fxLayout="row">
                <div class="col-sm-4 vcenter">
                    <div class="profile">
                        <img src="{{ snippet.user_photo || 'https://avatars0.githubusercontent.com/u/6011629?v=3&s=460'}}" class="avatar">
                        <h2 class="name"><a routerLink="/dashboard/{{snippet.user_id}}">{{snippet.user_name}}</a></h2>
                    </div>
                    <a uid="snippet.$key" class="btn btn-primary snippetor-play-snippet-new" (click)="playSnippet(snippet)">Play <i class="fa fa-fw fa-play"></i></a>
                    <a routerLink="/view/{{snippet.$key}}" class="btn btn-default">Details <i class="fa fa-fw fa-edit"></i></a>
                </div>
                <div class="col-sm-8 border-left vcenter">
                    <div class="{{snippet.has_description}}description">
                        {{snippet.description}}
                        <div *ngIf="snippet.description == ''" class="no-description">
                          <img src="assets/sad-face.png">
                          <div class="content">
                            <p>There is no description for this item!</p>
                            <p class="small">Please check again later, we will probably update it.</p>
                          </div>
                        </div>
                        <ul class="hashtags">
                            <li *ngFor="let tag of snippet.tags" routerLink="/?tags=qqq&amp;search=*">{{tag}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <ul class="repositories">
                <li *ngFor="let branch of snippet.branches"><img src="assets/{{branch.source}}.png"> <span>{{branch.name}}</span></li>
            </ul>
        </div>
    </div>
    <div class="osahanloading" style="position:static; left:450px; z-index:10000;"></div>
</virtual-scroll>

<nav *ngIf="hasmore == false" aria-label="Page navigation" style="position:relative; margin:120px; margin-top:60px; padding:120px;">
    <ul class="pagination">
    <li>
        <a aria-label="LoadMore">
            <span aria-hidden="true"> No More Data available</span>
        </a>
    </li>
    </ul>
</nav>
