:host {
  height: 100vh;
  display: block;
}

virtual-scroll {
  overflow: inherit !important;
}

.no-description {
    padding: 0px 0px;
}

.no-description > img {
    width: 64px;
    opacity: 0.1;
    display: inline-block;
    vertical-align: middle;
}
.no-description > .content {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 15px;
}
.no-description > .content p {
    margin: 0;
}
.no-description > .content p.small {
    opacity: 0.5;
}
 .description {
    padding: 20px 0px;
}
 .description p {
    margin: 0;
}
 .description > .hashtags {
    margin: 10px 0px 0px 0px;
    padding: 0;
    list-style: none;
}
 .description > .hashtags > li {
    display: inline-block;
    padding: 3px 5px;
    background: #f0f1f4;
    font-size: 11px;
    border-radius: 4px;
}
