<navigation-brand></navigation-brand>
<navigation-tabs></navigation-tabs>

<div class="container" #container>
  <div class="row" style="position:relative;">
    <div id="main-dashboard" class="col-sm-8">
      <router-outlet name="content"></router-outlet>
    </div>
    <div class="col-sm-4">
      <div class="sidebar-profile" id="snippetor-sidebar-profile">
        <app-display-install></app-display-install>
        <app-display-vcard *ngIf="vcard" [userId]="vcard"></app-display-vcard>
      </div>
    </div>
  </div>
</div>


<div class="container">
    <h1>
        {{title}}
    </h1>
    <div class="row" *ngIf="alertType">
        <div class="col-md-9 col-md-offset-1">
            <alert [type]="alertType" [dismissible]="true" (onClose)="alertClosed()">
                {{alertMessage}}
            </alert>
        </div>
    </div>
</div>
