<div *ngIf="needInstall == true" class="install-corner" id="install-plugin" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 241px;">
  <div class="box-shadow-area">
    Please install Plugin:
    <a href="https://chrome.google.com/webstore/detail/snippetor/dhbfkidenmnpiigfbjbplkcnjmoengbe">
      Snippetor Extension
    </a>
  </div>
</div>
