
<div *ngIf="(state == 'loading')">
  <div class="animationload">
    <div class="osahanloading"></div>
  </div>
</div>
<div *ngIf="(state == 'failed')"> 404 There is no snippet which you are looking for</div>
<div *ngIf="(snippet |  getbranches)" class="panel panel-default">
  <div class="panel-heading">
    <div class="title"><i class="fa fa-fw fa-eye" style="opacity:0.25;margin-right:5px;"></i> Snippet {{snippet.$key}}</div>
    <div class="stats" style="display:block;">
      <div id="delete-snippet"><img src="assets/garbage.png"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-7">
        <a name="play" class="btn btn-primary btn-margin-right-5" (click)="playSnippet()">Play <i class="fa fa-fw fa-play"></i></a>
        <a name="save" class="btn btn-default btn-margin-right-5" [ngStyle]="{'display':(getVisibility('save'))}" (click)="saveSnippet()">Save <i class="fa fa-fw fa-save"></i></a>
        <a name="edit" class="btn btn-default btn-margin-right-5" [ngStyle]="{'display':(getVisibility('edit'))}" (click)="editSnippet()">Edit <i class="fa fa-fw fa-edit"></i></a>
        <a name="fork" class="btn btn-default btn-margin-right-5" [ngStyle]="{'display':(getVisibility('fork'))}" (click)="forkSnippet()">Fork <i class="fa fa-fw fa-code-fork"></i></a>
        <a name="delete" class="btn btn-default btn-margin-right-5" [ngStyle]="{'display':(getVisibility('delete'))}" (click)="deleteSnippet()">Delete <i class="fa fa-fw fa-trash"></i></a>
        <a name="revert" class="btn btn-default btn-margin-right-5" [ngStyle]="{'display':(getVisibility('revert'))}" (click)="revertSnippet()">Revert <i class="fa fa-fw fa-undo"></i></a>
        <a name="cancel" class="btn btn-default btn-margin-right-5" [ngStyle]="{'display':(getVisibility('cancel'))}" (click)="cancelSnippet()">Cancel <i class="fa fa-fw fa-undo"></i></a>
        <a name="close" class="btn btn-default btn-margin-right-5" [ngStyle]="{'display':(getVisibility('close'))}" (click)="closeSnippet()">Close <i class="fa fa-fw fa-close"></i></a>
      </div>
      <div class="col-sm-5 text-right" [ngStyle]="{'display':(getVisibility('likewatch'))}">
        <a name="like" class="btn btn-warning btn-margin-right-5 active"><i class="undo">Un-</i>Like Snippet <i class="fa fa-fw fa-heart"></i></a>
        <a name="watch" class="btn btn-warning btn-margin-right-5"><i class="undo">Un-</i>Watch <i class="fa fa-fw fa-eye"></i></a>
      </div>
      <div class="col-sm-12" id="snipettor-save-form">
        <div *ngIf="user?.isAnonymous" class="alert alert-danger snippetor-alert"><i class="fa fa-fw fa-warning"></i> Please login to save snippet.</div>
        <form action="" method="post" class="edit-form">
          <div class="form-group">
            <label>Title</label>
            <input id="snippetor-save-title"
              type="text"
              class="form-control {{editable}}"
              value="{{(snippet)?.title}}"
              (change)="changeSnippetField('title', $event.target.value)"
              [attr.disabled]="editable == 'not-editable'?'':null">
          </div>
          <div class="form-group">
            <label>Tags</label>
            <tag-input id="snippetor-save-tags"
              class="{{editable}} input-m"
              name="snippetor-save-tags"
              [theme]="'dark'"
              [ngModel]="snippet.tags ? snippet.tags : ''"
              (onAdd)="changeSnippetField('tags', $event.value)"
              (onRemove)="changeSnippetField('tags', $event.value, 'remove')"
              [hideForm]="editable == 'not-editable'"
              [removable]="editable != 'not-editable'"
              ></tag-input>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea id="snippetor-save-description"
              class="form-control {{editable}}"
              rows="5"
              (change)="changeSnippetField('description', $event.target.value)"
              [attr.disabled]="editable == 'not-editable'?'':null">
                {{snippet.description}}
            </textarea>
          </div>
        </form>

        <hr>
        <div class="panel panel-default" *ngFor="let item of snippet.items; let idx = index">
          <div class="panel-heading">
            <div class="title">
              <i class="fa fa-fw fa-{{item?.source}}" style="opacity:0.25;margin-right:5px;"></i>
             <span data-toggle="tooltip" data-placement="top" title="Username" >{{item?.username}}</span><!--\
          --><span data-toggle="tooltip" data-placement="top" title="Repository" >{{item?.repo}}</span><!--\
          --><span data-toggle="tooltip" data-placement="top" title="Path" >{{item?.path}}</span><!--\
          --><span data-toggle="tooltip" data-placement="top" title="Line Number" >{{item?.line}}</span>
            </div>
            <div class="stats" [ngStyle]="{'display':(getVisibility('garbadge'))}">
              <div>
                <img class="close-snippet-item-icon" src="assets/garbage.png"
                  (click)="onDeleteSnippetItem(idx)">
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body bordered">
            <p style="display:none;">{{item?.comment}}</p>
            <textarea class="form-control" rows="4" style="display:block;"
              [ngModel]="item.comment"
              (ngModelChange)="onChangeShippetItem(idx, $event)"
              [attr.disabled]="editable == 'not-editable'?'':null"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
