<div class="tabs-header">
    <div class="container">
      <ul id="main-tabs-controll">
        <li id="tab-all-snippets" [ngClass]="isActive('all')"><a routerLink="/"><img src="assets/003-speedometer.png"> <span>All Snippets</span></a></li>
        <li *ngIf="(currentUser()|async)?.isAnonymous ==false" [ngClass]="isActive('dashboard')" id="tab-dashboard"><a routerLink="/dashboard" routerLinkActive="active-link"><img src="assets/002-internet.png"> <span>Dashboard</span></a></li>
        <li *ngIf="(currentUser()|async)?.isAnonymous ==false" id="tab-feed" [ngClass]="isActive('feed')"><a routerLink="/feed"><img src="assets/001-interface.png"> <span>User Feed</span></a></li>
        <li id="tab-snippet" class="dropdown" dropdown [ngClass]="isActive('snippets')">
          <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="assets/004-internet.png">Working Snippets ({{getSnippetsCount(snippets|async)}})<span class="caret"></span></a>
          <ul *dropdownMenu id="working_snippets_list" class="dropdown-menu" role="menu">
             <li *ngFor="let snippet of snippets | async" class="working_snippet_item" idx="1" (click)="openSnippet(snippet)">
               <a *ngIf="snippet"><i class="fa fa-fw fa-edit"></i>{{(snippet)?.title}}</a>
             </li>
            <!-- li class="dropdown-submenu">
              <a href="#"><i class="fa fa-fw fa-plus-circle"></i> Create new Snippet</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-fw fa-github"></i> Github Snippet</a></li>
                <li><a href="#"><i class="fa fa-fw fa-bitbucket"></i> Bitbucket Snippet</a></li>
                <li><a href="#"><i class="fa fa-fw fa-google"></i> Chromium Snippet</a></li>
              </ul>
            </li -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
