<div *ngIf="displayUser != null" class="sidebar-profile scroll-content scroll-scrolly_visible" id="snippetor-sidebar-profile" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 241px;">
  <div class="box-shadow-area">
    <div class="avatar-area"
    [ngStyle]="{'background':'url(' + displayUser?.photo + ') center no-repeat'}">
      <div class="avatar-bg"></div>
    </div>
    <div class="profile-details"> <img [src]="displayUser?.photo" class="avatar-image">
      <h1><i class="fa fa-fw fa-github"></i>{{displayUser?.name}}</h1> </div>
    <div class="followers">
      <div class="part">
        <h2>{{displayUser?.followers}}</h2>
        <h3>followers</h3> </div>
      <!--                           -->
      <div class="part">
        <h2>{{displayUser?.following}}</h2>
        <h3>following</h3> </div>
      <!--                           -->
      <div class="part">
         <following-button *ngIf="(currentUser()|async)?.uid" [userId]="userId" [loginUserId]="(currentUser()|async)?.uid" [selfFollowing]="(currentUser()|async).selfFF"></following-button>
      </div>
    </div>
  </div>
</div>
