<ul class="nav navbar-nav navbar-right">
  <li *ngIf="(currentUser()|async)?.isAnonymous" class="dropdown" id="signin-dropdown-menu" dropdown>
    <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In</a>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li id="firebase-auth-google"><a (click)="login('google')"><i class="fa fa-fw fa-google"></i> Google</a></li>
      <li id="firebase-auth-github"><a (click)="login('github')"><i class="fa fa-fw fa-github"></i> Github</a></li>
      <!-- li><a href="#"><i class="fa fa-fw fa-bitbucket"></i> Bitbucket</a></li -->
    </ul>
  </li>
  <li *ngIf="(currentUser()|async)?.isAnonymous ==false"
      id="signout-dropdown-menu"
      class="dropdown"
      dropdown>
    <a dropdownToggle id="signout-dropdown-menu-item" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{(currentUser()|async).displayName}}
        <img [src]="(currentUser()|async).photoURL" class="mini-avatar">
      </a>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <img id="signout-dropdown-menu-avatar" [src]="(currentUser()|async).photoURL" class="big-avatar">
      <li><a routerLink="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
      <li id="signout-firebase"><a (click)="logout()"><i class="fa fa-fw fa-sign-out"></i> Sign Out</a></li>
    </ul>
  </li>
</ul>
