.navbar-nav > li > a {
    line-height: 30px;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
    color: rgba(255,255,255,0.5);
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus {
    color: #fff;
    background: none;
}
.navbar-nav > .open > a,
.navbar-nav > .open > a:focus,
.navbar-nav > .open > a:hover {
    background: none;
}
.navbar-nav > li > ul li a {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.navbar-nav > li > ul li:last-child a {
    border-bottom: none;
}
.navbar-nav > li > ul li a i {
    margin-left: -5px;
    margin-right: 5px;
    opacity: 0.25;
}
