<a *ngIf="!fstatus" class="btn btn-primary" (click)="toggleFollow(true)">
  <i class="fa fa-fw fa-user-o"></i>Follow
</a>
<a *ngIf="fstatus" class="btn btn-primary" (click)="toggleFollow(false)">
  <i class="fa fa-fw fa-user-o"></i>Un-Follow
</a>
