.navbar-inverse {
    border-radius: 0px;
    border: none;
    background: #373F51;
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.navbar-inverse .navbar-brand {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    line-height: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
    height: auto;
}
.navbar-inverse .navbar-brand img {
    display: inline-block;
    width: 20px;
    vertical-align:sub;
    margin-right: 5px;
}
