<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
      <a class="navbar-brand" href="index.html"><img src="assets/002-code.png"> Snippetor</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <navbar-search></navbar-search>
      <app-display-user></app-display-user>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
