@charset "utf-8";
/*
	Author: Filip Todorov - www.filiptodorov.com
	Project: Snippetor
	All rights reserved
*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body, html {
    font-family: 'Lato', sans-serif;
    background: #D8DBE2;
    color: #1B1B1E;
}
body {
    padding-top: 100px;
}
@media (min-width:768px) {
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    .border-left {
        border-left: 1px solid #eee;
    }
}
/* NAVIGATION */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.tabs-header {
    width: 100%;
    height: 40px;
    top: 60px;
    left: 0;
    position: fixed;
    z-index: 98;
    background: #fff;
    box-shadow: rgba(0,0,0,0.07) 0px 5px 10px;
}
.tabs-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabs-header ul li {
    float: left;
    height: 40px;
}
.tabs-header ul li img {
    height: 20px;
    opacity: 0.25;
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
}
.tabs-header ul li a {
    padding-top: 10px;
    display: block;
    color: inherit;
    font-size: 14px;
    margin-right: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    border-bottom: 3px solid #58A4B0;
}
.tabs-header ul li a:hover,
.tabs-header ul li a:focus {
    text-decoration: none;
}
.tabs-header ul li a span {
    display: inline-block;
    vertical-align: middle;
}
.tabs-header ul li:not(.active) a {
    opacity: 0.75;
    padding-bottom: 10px;
    border-bottom: none;
}

tag {
    background: #85BCC5 !important;
    margin-right: 2px;
    color: white;
}

/* PANELS */
.panel.panel-default {
    border: none;
    margin-top: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 3px solid #cccccc;
    box-shadow: rgba(0,0,0,0.03) 0px 5px 10px;
}
.panel.panel-default.sort-header .panel-heading {
    cursor: move;
}
.panel.panel-default .panel-heading {
    background: #373F51;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
}
.panel.panel-default .panel-heading .title {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    float: left;
}
.panel.panel-default .panel-heading .title span {
    display: inline-block;
    padding: 10px 10px;
    border-right: 1px solid rgba(255,255,255,0.15);
    margin-top: -10px;
    margin-bottom: -10px;
}
.panel.panel-default .panel-heading .stats {
    float: right;
}
.panel.panel-default .panel-heading .stats > div {
    display: inline-block;
    color: #fff;
    padding-left: 15px;
    margin-left: 15px;
    position: relative;
}
.panel.panel-default .panel-heading .stats > div:first-child:before {
    display: none;
}
.panel.panel-default .panel-heading .stats > div:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #fff;
    content: ' ';
    opacity: 0.2;
}
.panel.panel-default .panel-heading .stats > div > img {
    -webkit-filter:invert(100%);
    filter:invert(100%);
    width: 16px;
    opacity: 0.5;
    margin-right: 5px;
}
.panel.panel-default .panel-labels {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px 10px 0px 10px;
    text-align: right;
}
.panel.panel-default .panel-labels li {
    display: inline-block;
    position: relative;
    font-size: 13px;
    color: #e74c3c;
    margin-left: 5px;
    cursor: pointer;
}
.panel.panel-default .panel-labels li > .colors {
    position:absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 150px;
    height: auto;
    background: #fff;
    z-index: 2;
    border: 1px solid #eee;
    padding: 10px;
    color: #999;
    text-align: left;
    box-shadow: rgba(0,0,0,0.05) 0px 5px 5px;
    font-size: 11px;
    display: none;
}
.panel.panel-default .panel-labels li > .colors:after {
    position: absolute;
    top: -6px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    transform: rotate(45deg);
    content: ' ';
}
.panel.panel-default .panel-labels li > .colors > span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    cursor: pointer;
    position: relative;
}
.panel.panel-default .panel-labels li > .colors > span:hover {
    opacity: 0.85;
}
.panel.panel-default .panel-labels li > .colors > span:hover:after {
    font-family: 'FontAwesome';
    content: '\f00c';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    width: 12px;
    height: 14px;
}
.panel.panel-default .panel-labels li > .colors > span.red {
    background: #e74c3c;
}
.panel.panel-default .panel-labels li > .colors > span.blue {
    background: #3498db;
}
.panel.panel-default .panel-labels li > .colors > span.green {
    background: #2ecc71;
}
.panel.panel-default .panel-labels li > .colors > span.orange {
    background: #e67e22;
}
.panel.panel-default .panel-labels li:nth-child(2) {
    color: #2ecc71;
}
.panel.panel-default .panel-labels li:nth-child(3) {
    color: #3498db;
}
.panel.panel-default .panel-labels li:after {
    position: static;
    font-family: 'FontAwesome';
    content: '\f105';
    margin-left: 5px;
}
.panel.panel-default .panel-labels li:last-child:after {
    display: none;
}
.panel.panel-default .panel-body {
    border: none;
}
.panel.panel-default .panel-body.bordered {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.panel.panel-default .panel-body .profile {
    padding-bottom: 10px;
}
.panel.panel-default .panel-body .profile .avatar {
    display: inline-block;
    vertical-align: middle;
    width:40px;
    border-radius: 50%;
    cursor: pointer;
}
.panel.panel-default .panel-body .profile h2.name {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 0;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #58A4B0;
    cursor: pointer;
}
.panel.panel-default .panel-body .btn,
.sidebar-profile .btn {
    color: #fff;
    border-radius: 25px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -o-transition:0.2s ease all;
    transition:0.2s ease all;
}
.btn.btn-warning.active {
    background: #d38312;
    box-shadow: none;
}
.panel.panel-default .panel-body .btn i,
.sidebar-profile .btn i {
    margin-left: 5px;
    opacity: 0.5;
    -webkit-transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -o-transition:0.2s ease all;
    transition:0.2s ease all;
}
.btn.btn-warning.active i {
    opacity: 1 !important;
    color: #fff;
}
.panel.panel-default .panel-body .btn:hover i,
.sidebar-profile .btn:hover i {
    opacity: 1;
}
.panel.panel-default .panel-body .btn-primary,
.sidebar-profile .btn-primary {
    background: #58A4B0;
}
.panel.panel-default .panel-body .btn-primary:hover,
.sidebar-profile .btn-primary:hover {
    background: #85BCC5;
}
.panel.panel-default .panel-body .btn-default,
.sidebar-profile .btn-default {
    background: #A9BCD0;
}
.panel.panel-default .panel-body .btn-default:hover,
.sidebar-profile .btn-default:hover {
    background: #C0CEDC;
}
.panel.panel-default .panel-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.panel.panel-default .panel-footer ul li {
    display: inline-block;
    background: #A9BCD0;
    font-size: 12px;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    cursor: default;
    -webkit-transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -o-transition:0.2s ease all;
    transition:0.2s ease all;
}
.panel.panel-default .panel-footer ul li:hover {
    background: #6D7380;
}
.panel.panel-default .panel-footer ul li > img {
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-filter:invert(100%);
    filter:invert(100%);
}
.panel.panel-default .panel-footer ul li > span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 10px;
    margin-left: 6px;
}
.panel.panel-default .panel-footer ul li > span:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #fff;
    opacity: 0.4;
    content: ' ';
}
@media (min-width:768px) and (max-width:992px) {
    .panel.panel-default .panel-heading .title {
        width: 60%;
    }
    .panel.panel-default .panel-body .no-description > img {
        width: 32px;
    }
    .panel.panel-default .panel-body .no-description > .content {
        width: calc(100% - 40px);
    }
    .panel.panel-default .panel-body .btn {
        padding: 5px 9px;
        font-size: 10px;
        margin-bottom: 4px;
    }
}
@media (max-width:768px) {
    .panel.panel-default .panel-footer ul li {
        margin: 2px 0px !important;
        display: inline-block;
    }
    .panel.panel-default .panel-body .no-description > img {
        width: 32px;
    }
    .panel.panel-default .panel-body .no-description > .content {
        width: calc(100% - 40px);
    }
}

/* SIDEBAR */
.sidebar-profile {
    width: calc(((1170px) - (((1170px) / 3)*2)) - 30px);
    height: calc(100vh - 131px);
    margin-top: 30px;
    position: fixed;
}
.box-shadow-area {
    box-shadow: rgba(0,0,0,0.03) 0px 5px 10px;
}
.sidebar-profile .avatar-area {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-size: cover;
}
.sidebar-profile .avatar-area .avatar-bg {
    width: 150%;
    height: 150%;
    position: absolute;
    top: -25%;
    left: -25%;
    z-index: 0;
    opacity: 0.75;
    background: #58A4B0 url(/assets/pattern-1.svg) repeat;
}
.sidebar-profile .avatar-image {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    margin-top: -75px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: rgba(0,0,0,0.05) 0px 0px 20px;
}
.sidebar-profile .profile-details {
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
}
.sidebar-profile .profile-details h1 {
    font-weight: 300;
    text-align: center;
    color: #373F51;
    font-size: 24px;
    margin: 15px 0px;
    display: block;
}
.sidebar-profile .followers {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom: 3px solid #cccccc;
}
.sidebar-profile .followers .part {
    width:calc(100% / 4);
    text-align: center;
    border-right: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
}
.sidebar-profile .followers .part:last-child {
    border-right: none;
    width:calc((100% / 42)*20);
}
.sidebar-profile .followers .part h2 {
    font-size: 24px;
    margin: 0;
}
.sidebar-profile .followers .part h3 {
    font-size: 12px;
    margin: 0;
}
.sidebar-profile .btn i {
    margin-left: 0px;
}
.sidebar-profile .panel {
    margin-bottom: 0px;
}

@media (min-width:768px) and (max-width:992px) {
    .sidebar-profile {
        width: calc(((750px) - (((750px) / 3)*2)) - 30px);
    }
    .sidebar-profile .avatar-area {
        height: 100px;
    }
    .sidebar-profile .avatar-image {
        width:100px;
        height: 100px;
        margin-top: -50px;
    }
    .sidebar-profile .followers .part h2 {
        font-size: 14px;
    }
    .sidebar-profile .followers .part h3 {
        font-size: 10px;
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .sidebar-profile {
        width: calc(((970px) - (((970px) / 3)*2)) - 30px);
    }
    .sidebar-profile .avatar-area {
        height: 100px;
    }
    .sidebar-profile .avatar-image {
        width:100px;
        height: 100px;
        margin-top: -50px;
    }
    .sidebar-profile .followers .part h2 {
        font-size: 14px;
    }
    .sidebar-profile .followers .part h3 {
        font-size: 10px;
    }
}

/* PAGINATION */
.pagination > li > a {
    background: #A9BCD0;
    color: #fff;
    border: none;
    border-right: 2px solid rgba(255,255,255,0.4);
}
.pagination > li > a:hover,
.pagination > li > a:focus {
    background: #58A4B0;
    color: #fff;
}

/* CUSTOM CSS */
.btn-margin-right-5 {
    margin-right: 5px;
}
.edit-form {
    margin-top: 15px;
}
.editComment {
    color: #999;
    margin-bottom: 15px;
    display: inline-block;
}
.editComment:hover,
.editComment:focus {
    text-decoration: none;
    color: #58A4B0;
}
.snippetor-alert {
    margin-top: 15px;
    margin-bottom: 0px;
}
.form-control.not-editable {
    background: inherit;
    cursor: default;
}
.mini-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: -15px;
}
.big-avatar {
    width: 100%;
    margin-top: -5px;
}
/* LIKE UNLIke*/

a[status="false"] i.undo {
  display: none;
}



/* LABELS LIST */
.labels-list {
    width: 100%;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.labels-list li {
    display: block;
    width:100%;
    height: auto;
    position: relative;
    padding: 5px 0px;
    font-size: 14px;
    font-weight: 400;
}
.labels-list li .details {
    position: absolute;
    top: 15px;
    right: 0;
    width: 150px;
    height: auto;
    padding: 15px;
    background: #fff;
    border: 1px solid #eee;
    display: none;
    z-index: 3;
}
.labels-list li .details a {
    display: block;
    width: 100%;
    height: auto;
    color: #999;
    text-decoration: none;
    font-size: 12px;
    margin-top: 5px;
}
.labels-list li .details a:hover {
    color: #1B1B1E;
}
.labels-list li:hover {
    background: #f9f9f9;
    cursor: default;
}
.labels-list li u {
    text-decoration: none;
    opacity: 0.5;
    margin-left: 5px;
}
.labels-list li i {
    float: right;
    cursor: pointer;
}
.labels-list li ul.list-menu {
    margin: 0;
    padding: 0;
    margin-left: 15px;
}
span.color {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: alias;
}
span.color.red {
    background: red;
}
span.color.green {
    background: green;
}
span.color.blue {
    background: blue;
}
span.color.yellow {
    background: yellow;
}

.animationload {
    height: 100px;
    left: 0;
    top: 0;
    width: 100px;
    z-index: 10000;
    padding: 100px 100px;
    margin: 100px 100px;
}
.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #85d6de transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
}
@keyframes osahanloading {
0% {
    transform: rotate(0deg);
}
50% {
    background: #85d6de none repeat scroll 0 0;
    transform: rotate(180deg);
}
100% {
    transform: rotate(360deg);
}
}
/* You can add global styles to this file, and also import other style files */
