<ul class="nav navbar-nav">
  <li class="search btn-group" dropdown>
    <input type="search" class="form-control" placeholder="Search Snippetor.." [formControl]="searchControl" value="{{query}}">
    <div class="buttons">
      <button type="submit" (click)="simpleSearch()"><i class="fa fa-fw fa-search"></i></button>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      <span class="caret"></span>
      </button>
    </div>
    <div *dropdownMenu class="dropdown-menu advanced" role="menu">
      <a href="#" id="hideAdvanced"><i class="fa fa-fw fa-times"></i></a>
      <form action="search.php" method="post">
        <div class="form-group">
          <label>Filter Output</label>
          <select class="form-control">
                                <option>All Snippets</option>
                                <option>Draft Snippets</option>
                                <option>Opened Snippets</option>
                                <option>Modified Snippets</option>
                            </select>
        </div>
        <div class="form-group">
          <label>Looking by word</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Author</label>
          <div class="clearfix"></div>
          <select class="form-control first-half">
                                <option>Github</option>
                                <option>Bitbucket</option>
                                <option>Chromium</option>
                            </select>
          <input type="text" class="form-control second-half" placeholder="Author Name">
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <label>Branch name</label>
          <input type="text" class="form-control" data-role="tagsinput">
        </div>
        <div class="form-group">
          <label>Hash Tags</label>
          <input type="text" class="form-control" data-role="tagsinput">
        </div>
        <div class="checkbox">
          <label>
                                <input type="checkbox" id="uml"> Has UML?
                            </label>
        </div>
        <div class="form-group" id="hasuml" style="display:none;">
          <select class="form-control inline">
                                <option>All</option>
                                <option>Modified</option>
                                <option>Created</option>
                            </select>
          <select class="form-control inline">
                                <option>1 day</option>
                                <option>2 days</option>
                                <option>3 days</option>
                                <option>4 days</option>
                                <option>5+ days</option>
                            </select>
          <span class="inline-span">ago and has </span>
          <select class="form-control inline">
                                <option>more</option>
                                <option>less</option>
                            </select>
          <span class="inline-span">than 3 comments</span>
        </div>
        <input type="submit" class="btn btn-primary" value="Search">
      </form>
    </div>

  </li>
</ul>
