.navbar-nav > li.search {
    line-height: 40px;
    margin-top: 10px;
    position: relative;
    margin-left: 25px;
    width: 350px;
    z-index: 1001;
}
.navbar-nav > li.search > .advanced {
    position: absolute;
    top: 51px;
    right: 0%;
    width: 450px;
    height: auto;
    padding: 15px 15px;
    box-shadow: rgba(0,0,0,0.05) 0px 5px 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    background: #fff;
    line-height: normal;
}
.navbar-nav > li.search > .advanced #hideAdvanced {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #999;
    opacity: 0.25;
}
.navbar-nav > li.search > .advanced .form-group,
.edit-form .form-group {
    margin-bottom: 10px;
}
.navbar-nav > li.search > .advanced .form-group > label,
.edit-form .form-group > label {
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    height: auto;
}
.navbar-nav > li.search > .advanced .form-group .form-control,
.edit-form .form-group .form-control {
    box-shadow: none;
    border: 1px solid #ccc;
}
.navbar-nav > li.search > .advanced .form-group .form-control:focus,
.edit-form .form-group .form-control:focus {
    border: 1px solid rgba(133,188,197,1);
}
.navbar-nav > li.search > .advanced .form-group .form-control.inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}
.navbar-nav > li.search > .advanced .first-half {
    width: 30%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none !important;
    float: left;
}
.navbar-nav > li.search > .advanced .second-half {
    width: 70%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    float: left;
}
.navbar-nav > li.search > .advanced .btn-primary {
    background: #58A4B0;
    color: #fff;
    border-radius: 25px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}
.navbar-nav > li.search > .advanced .btn-primary:hover,
.navbar-nav > li.search > .advanced .btn-primary:focus {
    background: #85BCC5;
}
.navbar-nav > li.search > .form-control {
    height: 40px;
    line-height: 1;
    padding-left: 20px;
    padding-right: 70px;
    border-radius: 25px;
}
.navbar-nav > li.search > .form-control:focus {
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(88, 164, 176,.6) !important;
    border-color: rgba(88, 164, 176,1);
}
.navbar-nav > li.search > .buttons {
    position: absolute;
    top: 0px;
    right: 15px;
    height: 40px;
}
.navbar-nav > li.search > .buttons > button {
    height: 40px;
    line-height: 40px;
    z-index: 2;
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    color: #333;
    opacity: 0.25;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
    padding: 0px;
    float: left;
    margin-left: 5px;
}
.navbar-nav > li.search > .buttons > button:hover {
    opacity: 1;
}
.navbar-nav > li.search > .btn-primary {
    height: 40px;
    line-height: 1;
}
